@model IEnumerable<AnimeQuiz.Models.AnimeDto>

@{
    ViewData["Title"] = "Animes";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@ViewData["Title"]</h1>
    <a class="text-decoration-none" asp-controller="AnimePage" asp-action="New">
        <h2>
            Create New
        </h2>
    </a>
</div>

<hr />

<div class="row">
    @for (int i = 0; i < Model.Count(); i++)
    {
        AnimeDto animeDto = Model.ElementAt(i);

        if (i != 0 && i % 4 == 0)
        {
            <hr class="mt-4" />
        }

        <div class="col-3">
            <div class="d-flex justify-content-between align-items-center">
                <a class="text-decoration-none" asp-controller="AnimePage" asp-action="Details" asp-route-id="@animeDto.AnimeId">
                    <h3>@animeDto.AnimeName</h3>
                </a>
                <form class="border border-2 border-danger bg-white fs-6 p-1" style="right: 1em; bottom: 1em;" method="POST" asp-controller="AnimePage" asp-action="Delete" asp-route-id="@animeDto.AnimeId">
                    <button type="submit" class="btn btn-close"></button>
                </form>
            </div>
            @if (animeDto.ImageDtos != null && animeDto.ImageDtos.Count() > 0)
            {
                <img class="mt-2 w-100 shadow p-2 bg-white" src="@animeDto.ImageDtos[0].ImagePath" alt="@animeDto.AnimeName" />
            }
        </div>
    }
</div>
