@model AnimeQuiz.Models.StaffDto

@{
    ViewData["Title"] = Model.StaffName;
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@ViewData["Title"]</h1>
    <div class="d-flex align-items-center gap-5">
        <a class="text-decoration-none text-danger" asp-controller="StaffPage" asp-action="ConfirmDelete" asp-route-id="@Model.StaffId">
            <h2>
                Delete
            </h2>
        </a>
        <a class="text-decoration-none" asp-controller="StaffPage" asp-action="Edit" asp-route-id="@Model.StaffId">
            <h2>
                Edit
            </h2>
        </a>
        <a class="text-decoration-none" href="javascript:history.back()">
            <h2>
                Back
            </h2>
        </a>
    </div>
</div>

<hr />

<dl class="row fs-4">
    <div>
        <dt class="mb-2 d-flex justify-content-between align-items-center">
            Sung Musics:
        </dt>
        <dd class="row">
            @for (int i = 0; i < (Model.SungMusicDtos?.Count() ?? 0); i++)
            {
                AnimeQuiz.Models.MusicDto musicDto = Model.SungMusicDtos!.ElementAt(i);

                if (i != 0 && i % 4 == 0)
                {
                    <hr class="mt-4" />
                }

                <div class="col-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <a class="fs-5 text-decoration-none" asp-controller="MusicPage" asp-action="Details" asp-route-id="@musicDto.MusicId">@musicDto.MusicName</a>
                    </div>
                    <audio class="mt-2 w-100" src="@musicDto.MusicPath" controls>
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            }

            @if (Model.SungMusicDtos == null || Model.SungMusicDtos.Count() == 0)
            {
                <p>No Sung Music</p>
            }
        </dd>
        <dt class="mt-2 pt-2 mb-2 border-top border-top-1 d-flex justify-content-between align-items-center">
            Voice Acted Characters:
        </dt>
        <dd class="row">
            @for (int i = 0; i < (Model.VoiceActedCharacterVersionDtos?.Count() ?? 0); i++)
            {
                AnimeQuiz.Models.CharacterVersionDto characterVersionDto = Model.VoiceActedCharacterVersionDtos!.ElementAt(i);

                if (i != 0 && i % 4 == 0)
                {
                    <hr class="mt-4" />
                }

                <div class="col-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <a class="fs-5 text-decoration-none" asp-controller="CharacterVersionPage" asp-action="Details" asp-route-id="@characterVersionDto.CharacterVersionId">
                            @if (characterVersionDto.VersionName == null)
                            {
                                <text>@characterVersionDto.CharacterDto!.CharacterName</text>
                            }
                            else
                            {
                                <text>@characterVersionDto.CharacterDto!.CharacterName: @characterVersionDto.VersionName</text>
                            }
                        </a>
                    </div>

                    @if (characterVersionDto.ImageDtos != null && characterVersionDto.ImageDtos.Count() > 0)
                    {
                        <img class="mt-2 w-100 shadow p-2 bg-white" src="@characterVersionDto.ImageDtos[0].ImagePath" alt="Image @characterVersionDto.ImageDtos[0].ImageId" />
                    }
                </div>
            }

            @if (Model.VoiceActedCharacterVersionDtos == null || Model.VoiceActedCharacterVersionDtos.Count() == 0)
            {
                <p>No Voice Acted Characters</p>
            }
        </dd>
    </div>
</dl>
